
body {
    font-family: sans-serif; 
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
}

th, td {
    padding: 10px;
    text-align: left;
}


tr:nth-child(even) {
    background-color: #363636;
}


table, th, td {
    border: none;
}


a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}